.App {
	text-align: center;
}

.App-link {
	color: #61dafb;
}
.main {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
}

.leftSide {
	color: white;
	border: solid 1px white;
	height: 820px;
	width: 300px;
	float: left;
}

.listMessage {
	height: 820px;
	width: 1618px;
	color: white;
	border: solid 1px white;
	margin-left: 300px;
	text-align: right;
}
.formMessage {
	clear: both;
	height: 150px;
	width: 1920px;
}
.formMessage input {
	width: 1750px;
	height: 30px;
	margin: 0;
	padding: 0;
	float: left;
	text-indent: 10px;
	border: 1px solid #ccc;
}
.formMessage button {
	display: inline-block;
	width: 166px;
	height: 64px;
	border: 0px;
	border-radius: 1px;
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
}
.formMessage button:hover {
	cursor: pointer;
}
.formMessage input:focus {
	outline: none;
}
.list {
	padding-right: 25px;
	display: inline-block;
}

.list p {
	margin: 10px 0;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 4px;
	background-color: #ccc;
	color: black;
}
